.idea/
travlendar/out/
out/
travlendarandroidclient/gradlew
travlendarandroidclient/build/
travlendarandroidclient/travlendarandroidclient.iml
travlendarandroidclient/.gradle/4.1/fileHashes/fileHashes.bin
travlendarandroidclient/.gradle/4.1/fileHashes/fileHashes.lock
travlendarandroidclient/.gradle/4.1/taskHistory/fileSnapshots.bin
travlendarandroidclient/.gradle/4.1/taskHistory/taskHistory.bin
travlendarandroidclient/app/app.iml
travlendarandroidclient/app/build.gradle
travlendarandroidclient/gradle/wrapper/gradle-wrapper.jar
travlendarandroidclient/gradle/wrapper/gradle-wrapper.properties
travlendarandroidclient/gradlew
travlendarandroidclient/gradlew.bat
travlendarandroidclient/local.properties
