.idea/
travlendar/out/
out/
travlendarandroidclient/.gradle/4.1/fileHashes/fileHashes.bin
travlendarandroidclient/.gradle/4.1/fileHashes/fileHashes.lock
travlendarandroidclient/.gradle/4.1/taskHistory/fileSnapshots.bin
travlendarandroidclient/.gradle/4.1/taskHistory/taskHistory.bin
travlendarandroidclient/.gradle/4.1/taskHistory/taskHistory.lock
travlendarandroidclient/app/app.iml
travlendarandroidclient/build/android-profile/profile-2017-12-02-10-26-10-889.json
travlendarandroidclient/build/android-profile/profile-2017-12-02-10-27-07-078.json
travlendarandroidclient/build/android-profile/profile-2017-12-02-11-14-24-428.json
travlendarandroidclient/build/android-profile/profile-2017-12-02-11-15-28-647.json
travlendarandroidclient/build/android-profile/profile-2017-12-02-11-15-28-647.rawproto
travlendarandroidclient/travlendarandroidclient.iml
travlendarandroidclient/build/android-profile/profile-2017-12-02-10-26-10-889.rawproto
*.rawproto
