<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <servlet>
        <servlet-name>ValidLoginServlet</servlet-name>
        <servlet-class>travlendarplus.servlets.login.ValidLoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ValidLoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>WrongUsernameLoginServlet</servlet-name>
        <servlet-class>travlendarplus.servlets.login.WrongUsernameLoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>WrongUsernameLoginServlet</servlet-name>
        <url-pattern>/notexistingusernamelogin</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>WrongPasswordLoginServlet</servlet-name>
        <servlet-class>travlendarplus.servlets.login.WrongPasswordLoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>WrongPasswordLoginServlet</servlet-name>
        <url-pattern>/wrongpasswordlogin</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>InvalidInputLoginServlet</servlet-name>
        <servlet-class>travlendarplus.servlets.login.InvalidInputLoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InvalidInputLoginServlet</servlet-name>
        <url-pattern>/invalidinputlogin</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ConectionProblemLogin</servlet-name>
        <servlet-class>travlendarplus.servlets.login.ConectionProblemLogin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ConectionProblemLogin</servlet-name>
        <url-pattern>/connectionerrorlogin</url-pattern>
    </servlet-mapping>
    
    
    
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>travlendarplus.servlets.register.RegisterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ConnectionErrorRegisterServlet</servlet-name>
        <servlet-class>travlendarplus.servlets.register.ConnectionErrorRegisterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ConnectionErrorRegisterServlet</servlet-name>
        <url-pattern>/connectionerrorregister</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AlreadyExistingUserRegisterServlet</servlet-name>
        <servlet-class>travlendarplus.servlets.register.AlreadyExistingUserRegisterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AlreadyExistingUserRegisterServlet</servlet-name>
        <url-pattern>/registerusernameexists</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>InvalidInputRegisterServlet</servlet-name>
        <servlet-class>travlendarplus.servlets.register.InvalidInputRegisterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InvalidInputRegisterServlet</servlet-name>
        <url-pattern>/invalidinputregister</url-pattern>
    </servlet-mapping>
    
    
    
    <servlet>
        <servlet-name>DeleteTagServlet</servlet-name>
        <servlet-class>travlendarplus.servlets.deletetag.DeleteTagServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteTagServlet</servlet-name>
        <url-pattern>/deletetag</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ConnectionProblemDeleteTagServlet</servlet-name>
        <servlet-class>travlendarplus.servlets.deletetag.ConnectionProblemDeleteTagServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ConnectionProblemDeleteTagServlet</servlet-name>
        <url-pattern>/connectionerrordeletetag</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>InvalidInputDeleteTagServlet</servlet-name>
        <servlet-class>travlendarplus.servlets.deletetag.InvalidInputDeleteTagServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InvalidInputDeleteTagServlet</servlet-name>
        <url-pattern>/invalidinputdeletetag</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>InvalidLoginDeleteTagServlet</servlet-name>
        <servlet-class>travlendarplus.servlets.deletetag.InvalidLoginDeleteTagServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InvalidLoginDeleteTagServlet</servlet-name>
        <url-pattern>/invalidlogindeletetag</url-pattern>
    </servlet-mapping>
    
    
    
    <servlet>
        <servlet-name>AddTagServlet</servlet-name>
        <servlet-class>travlendarplus.servlets.addtag.AddTagServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddTagServlet</servlet-name>
        <url-pattern>/addtag</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AlreadyExistingTagAddTagServlet</servlet-name>
        <servlet-class>travlendarplus.servlets.addtag.AlreadyExistingTagAddTagServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AlreadyExistingTagAddTagServlet</servlet-name>
        <url-pattern>/tagexistsaddtag</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>InvalidLoginAddTagServlet</servlet-name>
        <servlet-class>travlendarplus.servlets.addtag.InvalidLoginAddTagServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InvalidLoginAddTagServlet</servlet-name>
        <url-pattern>/invalidloginaddtag</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>InvalidInputAddTagServlet</servlet-name>
        <servlet-class>travlendarplus.servlets.addtag.InvalidInputAddTagServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InvalidInputAddTagServlet</servlet-name>
        <url-pattern>/invalidinputaddtag</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ConnectionProblemAddTagServlet</servlet-name>
        <servlet-class>travlendarplus.servlets.addtag.ConnectionProblemAddTagServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ConnectionProblemAddTagServlet</servlet-name>
        <url-pattern>/connectionerroraddtag</url-pattern>
    </servlet-mapping>
    
    
    <servlet>
        <servlet-name>OverlappingAddActivity</servlet-name>
        <servlet-class>travlendarplus.servlets.addactivity.OverlappingAddActivity</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>OverlappingAddActivity</servlet-name>
        <url-pattern>/overlappingaddactivity</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>InvalidLoginAddActivityServlet</servlet-name>
        <servlet-class>travlendarplus.servlets.addactivity.InvalidLoginAddActivityServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InvalidLoginAddActivityServlet</servlet-name>
        <url-pattern>/invalidloginaddactivity</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PastAddActivityServlet</servlet-name>
        <servlet-class>travlendarplus.servlets.addactivity.PastAddActivityServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PastAddActivityServlet</servlet-name>
        <url-pattern>/pastaddactivity</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>InvalidInputAddActivityServlet</servlet-name>
        <servlet-class>travlendarplus.servlets.addactivity.InvalidInputAddActivityServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InvalidInputAddActivityServlet</servlet-name>
        <url-pattern>/invalidinputaddactivity</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ConnectionProblemAddActivityServlet</servlet-name>
        <servlet-class>travlendarplus.servlets.addactivity.ConnectionProblemAddActivityServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ConnectionProblemAddActivityServlet</servlet-name>
        <url-pattern>/connectionproblemaddactivity</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddActivityServlet</servlet-name>
        <servlet-class>travlendarplus.servlets.addactivity.AddActivityServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddActivityServlet</servlet-name>
        <url-pattern>/addactivity</url-pattern>
    </servlet-mapping>
</web-app>
